.link-home {
  padding: 8px;
}

.container-gallery {
  padding: 24px 156px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.simple-lightbox {
  background-color: #2e2f42cc;
}

.sl-wrapper .sl-navigation button {
  color: #fff;
}

.sl-wrapper .sl-counter {
  color: #fff;
}

.sl-wrapper .sl-close {
  color: #fff;
}
